

.description{
  color: $grey3;
  font-size: 19px;
  line-height: 23px;
  text-align: justify;
  padding: 0px 20px;
  margin: 20px 0px 5px 0;
}

.description_list{
  margin: 10px 0 20px 0;
  padding: 0 0 0 50px;
  font-size: 19px;
  color: $grey3;
}

.description_point{
  margin: 5px 0;
  font-size: 19px;
  line-height: 23px;
}
