

.description{
  color: $grey3;
  font-size: 20px;
  line-height: 27px;
}

.description_list{
  margin: 25px 0 20px 0;
  padding: 0 0 0 20px;
  font-size: 20px;
  color: $grey3;
}

.description_point{
  margin: 10px 0;
}
