
<div class="m_header_wrapper soften">
  <h1 class="center_txt">Theoretical feed content</h1>
  <div class="burger_menu"><span></span><span></span><span></span><span></span></div>
</div>
<div id="menu" class="flex_container flex_just_centered soften">
  <span class="menu_entry">Lorem</span>
  <span class="menu_entry">Ipsum</span>
  <span class="menu_entry">Dolor</span>
  <span class="menu_entry">Sit</span>
  <span class="menu_entry">Amet</span>
  <span class="menu_entry">Consectetur</span>
  <span class="menu_entry">Adipisicing</span>
</div>
