
.section_header{
  margin: 40px 0 0px 0;
}
.section_title{
  font-size: 70px;
  font-weight: 200;
  padding: 10px 0 0 20px;
  &.main{
    color: $grey3;
  }
  &.if{
    color: $blue;
  }
  &.ia{
    color: $orange;
  }
  &.it{
    color: $green;
  }
}
.section_subtitle{
  padding: 0 0 0 20px;
  font-size: 28px;
}
