@mixin checkboxcolor($inputgroup, $color) {
  &[data-checkbox-name=#{$inputgroup}] {
    .checkbox_input{
      &:checked {
        &+ .checkbox_label {
          color : transparentize($color, 0.2);
          &:before{
            border: 2px solid transparentize($color, 0.3);
          }
          &:after{
            background-color: transparentize($color, 0.3);
          }
        }
      }
    }
    .checkbox_label{
      color: transparentize($color, 0.9);
      &:before{
        background-color: transparentize($color, 0.9);
        border:2px solid transparentize($color, 0.8);
      }
      &:after{
        background-color: transparentize($color, 0.9);
      }
    }
  }
}
[data-checkbox-name]{
  @include checkboxcolor(infeed, $blue);
  @include checkboxcolor(inad, $orange);
  @include checkboxcolor(intext, $green);
}

.checkbox_wrapper{
  position: relative;
  cursor: pointer;
  display:inline-block;
  margin: 0px 15px;
  height: 15px;
}
.checkbox_input{
  display: none;
  &:checked{
    & + .checkbox_label{
      &:before{
        animation: ripple 0.3s linear forwards;
      }
      &:after{
        transform: scale(1);
      }
    }
  }
}

.checkbox_label{
  cursor: pointer;
  padding: 0 5px 0 30px;
  height: 20px;
  text-transform: uppercase;
  font-weight: 900;
  transition-duration: 0.3s;
  font-size: 12px;
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
  &:before, &:after{
    box-sizing: border-box;
    content:"";
    position: absolute;
    border-radius: 50%;
  }
  &:before{
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
  }
  &:after{
    top: 10px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0.5);
    transition-duration: 0.3s;
  }
}
