
.big_picture_wrapper{
  width: 100%;
  margin: 0;
  background-color: $grey1;
}

.big_picture{
  width: 100%;
  height: 350px;
  background-color: $grey2;
}

.big_picture_text_wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.big_picture_txt_color{
  background-color: $grey2;
  margin: 20px 0 0 0;
}
.big_picture_tag{
  margin: 0;
  width: 75px;
  height: 20px;
}
.big_picture_title{
  margin: 10px 0 0 0;
  width: 280px;
  height: 15px;
}
.big_picture_description{
  margin: 10px 0 0 0;
  width: 220px;
  height: 15px;
}
.big_picture_sps{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 7px;
}
