

.soften{
  position: relative;
  overflow: hidden;
  & > *:first-of-type{
    filter: grayscale(0.6);
    opacity: 0.5;
  }
  & [id^="ayl_"]{
    filter: grayscale(0);
    opacity: 1;
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    box-shadow: inset 0px 0px 49px 0px transparentize(#FFFFFF, 1);
    background-color: transparentize(#FFFFFF, 1);
  }
}
.highlighted{
  &[data-adunit]{
    cursor: pointer;
    &[data-adunit="infeed"] {
      &:after{
        box-shadow: inset 0px 0px 49px 0px transparentize($blue, 0.2);
        background-color: transparentize($blue, 0.7);
      }
    }
    &[data-adunit="inad"] {
      &:after{
        box-shadow: inset 0px 0px 49px 0px transparentize($orange, 0.2);
        background-color: transparentize($orange, 0.7);
      }
    }
    &[data-adunit="intext"] {
      &:after{
        box-shadow: inset 0px 0px 49px 0px transparentize($green, 0.2);
        background-color: transparentize($green, 0.7);
      }
    }
  }
}
