
.site_content{
  margin: 20px 0;
  width: 100%;
  & *{
    transition-duration: 0.3s;
  }
}

.site_content_wrapper{
  @include clearfix();
  width: 1000px;
  margin: 0px auto;
  background-color: #ffffff;
  padding: 40px 0px;
}

.site_left{
  float: left;
  width: calc(100% - 320px);
  padding: 0 20px;
  box-sizing: border-box;
}

.site_sidebar{
  float: left;
  width: 320px;
}
.tablet, .mobile{
  .site_sidebar{
    margin: 20px 0 0 0;
  }
  .site_content_wrapper{
    width: 100%;
    padding: 0px;
  }
  .site_left, .site_sidebar{
    width: 100%;
  }
}

.mobile{
  .site_left, .site_sidebar{
    padding: 0px;
  }
}
