
.site_title_wrapper{
  @include clearfix();
  width: 100%;
  padding: 25px 0px;
  background-color: $grey2;
}
.site_title{
  width: 1000px;
  margin: 0 auto;
}
.site_logo{
  @include border-radius(50%);
  width:30px;
  height:30px;
  background-color: $grey3;
  float:left;
}

h1{
  float:left;
  height: 30px;
  margin: 0 0 0 20px;
  font-size:24px;
  min-width:300px;
}

ul{
  @include clearfix();
  float: right;
  height: 30px;
}
.menu{
  padding:3px 20px;
  float:left;
  list-style: none;
  min-width:100px;
}
