
[class^='txt_'] {
  display: inline-block;
  content : '\0020';
  width: 100%;
  background-color: $grey3;
  @include border-radius(3px);
}
.txt_1{
  height:20px;
  margin: 5px 0px;
}
.txt_2{
  height:26px;
}
.txt_3{
  height:19px;
}
.txt_4{
  height:14px;
  margin:2px 0;
}
.txt_5{
  height:15px;
}
