<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ayl</title>
    <meta name="description" content="iframe">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="styles/iframe.css">
  </head>
  <body class="scrollbar hp_view">

    <div id="webpage_wrapper">

      <div id="hp_page">
        @@include('app/views/modules/components/site_header/header.html')
        @@include('app/views/modules/components/site_content/site_content.html')
        @@include('app/views/modules/components/site_footer/site_footer.html')
      </div>
      <div id="article_page">
        @@include('app/views/modules/components/site_header/header.html')
        <div class="article_wrapper">
          <div class="article_txt_wrapper">
            @@include('app/views/modules/components/site_big_picture/site_big_picture.html')
            <div class="article_lines_wrapper">
              @@for (var i = 0; i < 45; i ++) {
                @@include('app/views/modules/components/site_article/site_article.html')
              }
            </div>
          </div>
          <div class="article_sidebar">
            @@for (var i = 0; i < 4; i++) {
              @@include('app/views/modules/components/site_mpu/site_mpu.html')
            }
          </div>
        </div>
        @@include('app/views/modules/components/site_footer/site_footer.html')
      </div>

    </div>


    <script src="scripts/app.js"></script>

  </body>
</html>
