<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ayl</title>
    <meta name="description" content="iframe">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="styles/iframe.css">
  </head>
  <body>


    <div id="webpage_wrapper">

      <div id="hp_page">
        @@include('app/views/modules/components/site_header/header.html')
        @@include('app/views/modules/components/site_content/site_content.html')
      </div>
      <div id="article_page">

      </div>

    </div>


    <script src="scripts/app.js"></script>

  </body>
</html>
