<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:200,300,400">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
  </head>
  <body>

    <div class="config_wrapper">
      @@include("app/views/modules/components/app_slider_input/app_slider_input.html")
      @@loop("app/views/modules/components/app_checkbox_button/app_checkbox_button.html", [
        { "label" : "infeed" },
        { "label" : "inad" },
        { "label" : "intext" }
      ])
    </div>

    <div id="iframe_wrapper">
      <iframe id="iframe" src="./iframe.html"></iframe>
    </div>
    <script src="scripts/app.js"></script>

  </body>
</html>
