
@import 'global_styles/_settings';
@import 'global_styles/_mixins';
@import 'global_styles/_reset';


body{
  font-family: "Muli";
  font-weight: 300;
  color: #010101;
}
#iframe{
  display: block;
  width: 80%;
  height: 80vh;
  margin: 20px auto 0 auto;
  border: none;
}
