
@import 'global_styles/_settings';
@import 'global_styles/_mixins';
@import 'global_styles/_reset';

@import 'modules/components/section/header/header';
@import 'modules/components/section/description/description';
@import 'modules/components/section/section/section';
@import 'modules/components/pagination/_pagination';

@import 'modules/components/app_checkbox_button/_app_checkbox_button';
@import 'modules/components/app_slider_input/_app_slider_input';


body{
  font-family: "Muli";
  font-weight: 300;
  color: #010101;
}
#iframe_wrapper{
  position: relative;
  resize: both;
  overflow: hidden;
  max-width: 80%;
  min-width: 360px;
  width: 1400px;
  height: 1024px;
  max-height: 80vh;
  min-height: 480px;
  margin: 20px auto;
  border: 2px solid $grey2;
  background-color: $grey1;
  transition: border, padding 0.3s linear;
  .frame_detail{
    transition-duration:0.3s;
    position:absolute;
    border: 2px solid $grey2;
    background-color: $grey1;
  }
  &.desktop{
    .frame_detail{
      &.detail_top{
        background-color: $grey2;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        width:15px;
        height: 15px;
        border-radius: 50%;
      }
      &.detail_right{
        background-color: $grey2;
        transform: translateX(50%);
        bottom: 12px;
        right: 30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    border-radius: 10px 10px 8px 8px;
    padding: 30px 20px 50px 20px;
  }
  &.tablet{
    .frame_detail{
      &.detail_top{
        background-color: $grey2;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        width:15px;
        height: 15px;
        border-radius: 50%;
      }
      &.detail_right{
        background-color: $grey2;
        transform: translateX(50%);
        bottom: 7px;
        right: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    border-radius: 10px 10px 10px 10px;
    padding: 30px 20px 60px 20px;
  }
  &.mobile{
    .frame_detail{
      &.detail_top{
        top: 11px;
        left: 50%;
        transform: translateX(-50%);
        width:150px;
        height: 3px;
        border-radius: 5px;
        background-color: $grey2;
      }
      &.detail_right{
        background-color: $grey2;
        transform: translateX(50%);
        bottom: 7px;
        right: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    border-radius: 10px 10px 10px 10px;
    padding: 30px 20px 60px 20px;
  }
}
#iframe{
  border: 2px solid $grey2;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
[data-anchor]{
  cursor:pointer;
}
.config_wrapper{
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
.settings_text{
  width: 50%;
  box-sizing: border-box;
  padding:0 20px;
  .description{
    margin: 0px;
  }
}
.settings_wrapper{
  width: 50%;
}
.filter_title{
  width: 70px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  color: $grey2;
  line-height: 28px;
}
