
.tile_container{
  float: left;
  position: relative;
  &:after{
    content: "";
    display: block;
    clear:both;
  }
  &.tile-size-2{
    width: 50%;
    .inner_tile{
      height: 280px;
    }
  }
  &.tile-size-3{
    width: calc(100% / 3);
    .inner_tile{
      height: 210px;
    }
  }
  .inner_tile{
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.tile_text_wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  padding: 20px 0 20px 20px;
}
.tile_title{
  font-size: 1.3em;
}
.tile_description{
  font-size: 1.2em;
  line-height: 1.2em;
}
.tile_tag{
  text-transform: uppercase;
  font-size:0.9em;
  line-height: 1.2em;
  background-color: #FFFFFF;
  color: #000000;
  padding: 1px 7px;
  border-radius: 2px;
  margin: 0 0 5px 0;
}
